.resume-card{
    background:white;
    padding:30px;
    border-radius:14px;
    margin:25px 0;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.resume-card input{
    margin-bottom:20px;
}

.analyze-btn{
    background:#6366f1;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
}

.analysis-card{
    background:white;
    padding:30px;
    border-radius:14px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.analysis-card h2{
    color:#4f46e5;
}

.analysis-card h3{
    margin-top:25px;
}

.analysis-card li{
    margin:8px 0;
}

.score-card{
    text-align:center;
    padding:30px;
    border-radius:16px;
    background:linear-gradient(135deg,#eef2ff,#ffffff);
    margin-bottom:30px;
}

.score-card h3{
    color:#6366f1;
    letter-spacing:2px;
    margin-bottom:20px;
}

.score-circle{
    width:130px;
    height:130px;
    margin:auto;
    border-radius:50%;
    border:8px solid #6366f1;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:38px;
    font-weight:bold;
    color:#4f46e5;
}

.section{
    margin-top:35px;
}

.section h3{
    margin-bottom:12px;
    color:#374151;
}

.section ul{
    padding-left:20px;
}

.section li{
    margin:10px 0;
    line-height:1.6;
}

.file-name{
    margin:15px 0;
    color:#6366f1;
    font-weight:600;
}